@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto&display=swap');

:root{
    --color-main: #080808;
    --color-secund: #0e0d0d;
    --color-emphasis: #5000CA;
    --color-grey: #EEEEEE;
    
}

.border-left{border-left: 2px solid var(--color-main);}
.font-text {color: white; text-shadow: 3px 3px 6px rgb(8, 8, 9);}

*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', Arial, Helve, sans-serif;
    background-color: var(--color-main);
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

/* CSS Pagina inicial da index */
/* CSS sessões*/
section {
    height: 100%;
    position: absolute;
    transition: all 1s ease;
    background-color: #f0f0f0;
}

/* CSS Primeiro Container da 4 Se*/

.section-1 {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--color-main);
}

.section-1 img{
    width: auto;
    position: absolute;
    height: 75%;
    margin: 0 auto 6rem;
}

#block-presentation{
    width: 99%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, .95);
    padding: 4rem .2rem;
}

#block-presentation p{
    width:  90%;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0 auto;
    font-size: 2.45rem;
}

#title-name{
    color: var(--color-emphasis);
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    letter-spacing: 2px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    animation: escrita 5s ease-in-out infinite;
}

#secund-span{display: none;}

@keyframes escrita {
    0%, 100%{
        width: 0%;
        opacity: 0;
    }

    50%{
        width: 100%;
        opacity: 1;
    }
}

/* CSS seção*/
.container[status="hidden"] .section-2,.container[status="hidden"] .section-3,.container[status="hidden"] .section-4 {
    width: 23.33%;
    height: 100%;
    background-color: var(--color-secund);
}

.container[status="hidden"] .section-2 {left: 30%;}

.container[status="hidden"] .section-3 {left: 53.33%;}

.container[status="hidden"] .section-4 {left: 76.66%;}

.container[status="visible"] .up-section{
    transform: translate(0, -200%);
    transition: all 1s ease;
}

.container[status="hidden"] .expanded:hover {
    background-color: var(--color-main);
    cursor: pointer;
}

.container[status="visible"] .block-tittle{
    display: none;
}

.block-tittle{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-tittle h2{
    font-size: 3.7rem;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    color: #181717;
    transition: all .8s ease-in-out;
    opacity: 0;
    white-space: nowrap;
}

.block-tittle > div{
    height: 90px;
    overflow-y: hidden;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.block-tittle > div > h3{
    font-size: 3rem;
    letter-spacing: 2px;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
}

@media screen and (min-width: 800px) {
    .container[status="hidden"] .expanded:hover .block-tittle h2{
    color: var(--color-emphasis);
    opacity: 1;
}
    .container[status="hidden"] .expanded:hover .tittle-first{
        transform: translate(0, -200%)
    }

    .container[status="hidden"] .expanded:hover  .tittle-last{
        transform: translate(0, 200%)
    }
}

.tittle-first{
    color: white;
}
.tittle-last{
color: var(--color-emphasis);
}


.full-screen {
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 999;
    position: absolute;
    background-color: var(--color-secund);
    transition: all .6s ease;
}



@keyframes opacity {
    0%, 70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.container-information{display: none; opacity: 0;}

.container[status="visible"] .full-screen .container-information{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: opacity 1s ease-in-out;
    background-color: var(--color-main);
}

.win-max-size{max-width: 1700px;}

@media screen and (max-width: 1225px){
    .section-1 {
        width: 25%;
    }

    #block-presentation p{font-size: 1.8rem;}

    #title-name{font-size: 2rem;}

    .container[status="hidden"]  .section-2, .container[status="hidden"] .section-3, .container[status="hidden"]  .section-4 {
        width: 25%;
    }
    .container[status="hidden"]  .section-2 {left: 25%;}

    .container[status="hidden"]  .section-3 {left: 50%;}

    .container[status="hidden"]  .section-4 {left: 75%;}

    .block-tittle h2{font-size: 3.4rem;}
    .block-tittle > div > h3 {font-size: 2.6rem;}    
}

@media screen and (max-width: 1050px){
    #block-presentation p{font-size: 1.7rem;}
    #title-name{width:  139px; font-size: 1.9rem;}

    .block-tittle h2{font-size: 3.1rem;}
    .block-tittle > div > h3 {font-size: 2.3rem;} 
}


@media (max-width: 960px) {
    .container{
        display: block;
    }
    section{
        position: static;
    }
    .up-section{position: absolute;}
    .container[status="hidden"] .section-1 {
        width: 100%;
        height: 300px;
        overflow-x: hidden;
    }
    .container[status="hidden"] .section-1 img{
        height: 250px;
        margin: 0 0 4rem;
    }

    #block-presentation{padding: 1.5rem 0;}

    #block-presentation p{font-size: 2rem;}
    #title-name{font-size: 2.5rem;}

    .container[status="hidden"] .section-2, .container[status="hidden"] .section-3, .container[status="hidden"] .section-4 {
        width: 100%;
        height: 150px;
        left: 0
    }

    .full-screen{
        height: 100vh;
        bottom: 0;
    }
    .container[status="visible"] .up-section{
        transform: none;
    }
}

@media screen and (max-width: 500px) {
    .container[status="visible"] .full-screen .container-information{margin: 0 auto; padding-top: 7rem;}
    
}

@media (max-width: 330px) {
    #block-presentation p{font-size: 1.6rem;}
    #title-name{font-size: 1.8rem;}

    .block-tittle > div > h3 {font-size: 2.2rem;}    
}

.btn-close {
    width: 38px;
    height: 38px;
    position: fixed;
    z-index: 9;
    cursor: pointer;
    right: 0;
    top: 0; 
    margin: 5rem 6rem 0 0;
}

/* Titulo da tela da seção clicada*/
.block-tittle-insede{
    display: flex; 
    text-align: center; 
    width: 100%; 
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.tittle-inside-back{
    font-size: 9.5rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: var(--color-secund);
}

.tittle-inside-front{
    color: white;
    height: 90px;
    overflow-y: hidden;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 4rem;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
}

.tittle-inside-front span{color: var(--color-emphasis);}

/* bloco do icone do pe perfil */
.block-icon-inside{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    gap: 1rem;
}

.block-icon-inside span{
    display: block;
    width: 30%;
    height: 3px;
    background-color: var(--color-emphasis);
}

.block-icon-inside img{
    width: 40px;
    height: 40px;
}

/* BLOCO DA TELA INTERNA DO SOBRE MIM*/
.block-perfil-inside{
    display: flex;
    width: 75%;
    margin: 5rem auto;
    gap: 4rem;
}

.block-perfil-inside > img{
    width: 350px;
    height: auto;
}

.block-information-inside > h4{
    font-size: 2.2rem;
    color: var(--color-grey);
    margin-bottom: 3.5rem;
    overflow-x: hidden;
    letter-spacing: 2px;
    text-shadow: 3px 3px 6px rgb(8, 8, 9);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
}

.block-information-inside > h4 > img{
    width: 25px;
    height: 27px;
}

.block-information-inside p{
    width: 80%;
    color: var(--color-grey);
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    text-align: justify;
    line-height: 2;
    letter-spacing: .5px;
    text-shadow: 3px 3px 6px rgb(8, 8, 9);
    margin-bottom: 4.5rem;

}

.block-information-inside > ul {
    list-style: none;
    padding: 0;
    margin-bottom: 3.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
  
.block-information-inside > ul > li {
    display: flex;
    margin-bottom: 10px;
    font-size: 1.6rem;
    gap: 1rem;
    color: #0073e6;
    margin-right: 1rem;
}
.block-information-inside > ul > li > span{
    color: #fff;
}

.block-information-inside > a{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    text-decoration: none;
    padding: 1.8rem;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--color-grey);
    border: 1px solid #0073e6;
    letter-spacing: 2px;
}

/* Container dos cards de estudo, exp, habilidades  */
#container-cards{
    display: flex;
    width: 100%;
    padding: 10rem 0;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: var(--color-secund);
    margin-top: 2rem;
}

#btn-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 2rem;
    gap: 3rem;
    color: white;
}

#btn-cards > a{
    display: flex;
    justify-content: center;
    width: 220px;
    padding: 33px 24px;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 3px;
    border: 1px solid var(--color-emphasis);
}
.btn-not-active{
    background-color: transparent;
    text-shadow: 1px 1px 1px var(--color-main);
}
.btn-active{
    background-color: var(--color-emphasis);
    color: var(--color-grey);
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--color-main);
}

.block-cards{
    width: 480px;
    min-height: 400px;
    padding: 5rem;
    background-color: #222222;
}

#card-education{
    width: 100%;
}

.tittle-cards{
    font-size: 3rem;
    text-align: center;
    color: var(--color-grey);
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.subtittle-cards{
    font-size: 2.1rem;
    padding: 1rem 0;
    border-bottom: 2px solid var(--color-main);
    color: #fff;
    letter-spacing: 1px;
    margin-top: 5rem;
}
.margem-cards{
    font-size: 1.8rem;
    color: #fff;
}
#span-dd-1{
    font-size: 1.9rem;
    letter-spacing: 1px;
    color: pink;
    margin-top: 2rem;
}

.block-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    min-height: 350px;
    margin: 0 auto;
    padding: 3rem;
}
  
.skill p{
    font-size: 2rem;
    color: #fff;
}

.stars {
    font-size: 2.4rem;
    color: #ffdf00;
}

@media screen and (min-width: 1800px) {
    #container-cards {justify-content: center; gap: 5rem;}
}

@media screen and (max-width: 1150px) {
    .btn-close {width: 25px; height: 25px; margin: 7rem 2rem;}  
}
@media screen and (max-width: 1100px) {
    .btn-close {width: 25px; height: 25px;}
    .block-icon-inside{margin: 5rem auto 2rem;}
    .block-perfil-inside > img{display: none;}
    .block-information-inside > h4 {justify-content: center;}
    .block-information-inside > h4 > img {display: none;}
    .block-information-inside p{width: 95%; max-width: 750px; margin: 5rem auto; text-align: center;}
    .block-information-inside > ul > li {justify-content: center; margin: 2rem 0;}
    .block-information-inside > a {margin: 0 auto; padding: 1.5rem;}
    #container-cards{        
        justify-content: center;
        gap: 2rem;
        padding: 10rem 0;

    }
    .block-cards {
        width: 400px;
        margin: 3rem 0;
    }
}

@media screen and (max-width: 980px) {
    #container-cards{        
        flex-direction: column;
        align-items: center;
    }
    .tittle-inside-back {font-size: 7rem;}

    #btn-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #btn-cards > a {flex: 1; width: 33.33%; padding: 15px; font-size: 1.7rem;}
}

@media screen and (max-width: 680px){
    .btn-close {position: static; display: flex; justify-content: flex-end; margin: 7rem 3rem 0 auto;
    }
    .block-tittle-insede {margin-top: 7rem;}
}

@media screen and (max-width: 550px){
    .block-perfil-inside {width: 90%; margin: 5rem auto 0;}
    .block-information-inside p {text-align: left;}
    .tittle-inside-back {display: none;}
    .block-information-inside > ul > li {display: block; width: 100%; justify-content: flex-start;}

    .block-information-inside > ul {
        display: flex;
        flex-wrap: wrap;
    }
    .block-cards {
        width: 90%;
        margin: 3rem auto;
        padding: 5rem 1rem;
}
.card-education{
    margin: auto 0;
}
}

@media screen and (max-width: 400px){
    .tittle-inside-front {font-size: 3rem;}
    .block-information-inside p {text-align: justify;}
    .block-information-inside > h4 {text-align: center;}
    .tittle-cards {font-size: 2.5rem;}
    #btn-cards > a {font-size: 1.4rem; width: 40%}
    .subtittle-cards {font-size: 1.9rem;}
    #span-dd-1 {font-size: 1.7rem;}
    .margem-cards {font-size: 1.5rem;}
}


/* BLOCO DA TELA INTERNA DOS MEUS PROJETOS*/

.container-projetos{
    width: 1000px;
    height: 600px;
    display: flex;
    margin: 5rem auto;
    transform: translate(0,0);
    padding: 50px;
    background-color: transparent;
}

#slides{
    width: max-content;
    margin-top: 50px;
}

#block-icon-projetos{margin-top: 5rem;}

.item{
    width: 200px;
    height: 300px;
    display: inline-block;
    background-position: top center;
    background-size: cover;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

.item:nth-child(1){
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(2){
    left: calc(45% + 320px);
    filter: brightness(1.1);

}

.item:nth-child(3){
    left: calc(45% + 440px);
    opacity: 0;
}

.item:nth-child(4){
    left: calc(45% + 440px);
    opacity: 0;
        display: none;

}

.item:nth-child(5){
    left: calc(45% + 880px);
    opacity: 0;
    display: none;
}

.item .content{
    width: fit-content;
    height: 100%;
    display: none;
    position: absolute;
    top: 50%;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.item:nth-child(1) .content{
    display: flex;
    z-index: 11111;
    border-radius: 0;
}

.content > h4{
    width: 40%;
    font-size: 2.5rem;
    padding: 1rem 0;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
    animation: showcontent 1s ease-in-out 1 forwards;
    transform: translate(0, 100px);
    filter: blur(1000px);

}

.content > p{
    width: 40%;
    padding: 0 0 1rem;
    font-size: 1.8rem;
    line-height: 1.5;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
    transform: translate(0, 100px);
    filter: blur(1000px);
}

.block-tech-projetos{
    width: 40%;
    margin: .5rem 0;
}

.block-tech-projetos h5{
    font-size: 2rem;
    padding: 2rem 0;
}
.itens-logos-projetos{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    padding: 1rem 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
    transform: translate(0, 100px);
    filter: blur(1000px);}

.itens-logos-projetos img{
    width: 35px;
    height: 35px;
}

.btn-links-projetos{
    display: flex;
    gap: 0 3rem;
    animation: showcontent 1s ease-in-out 0.9s 1 forwards;
    transform: translate(0, 100px);
    filter: blur(1000px);
}

.btn-links-projetos > a{
    width: 140px;
    font-size: 1.8rem;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 2rem .5rem;
    transition: all .3s ease-in-out;
}

.btn-links-projetos > a:hover{
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
}

.color-visiet{
    color: #00A7E1;
}

.color-visiet-hub{
    color: #cd27d6;
}

.cursor-not{
    cursor: not-allowed;
    color: red;
}

@keyframes showcontent {
    from{
        opacity: 0;
        border: none;
        transform: translate(0, 100px);
        filter: blur(33px);
    }to{
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

.btn-slides{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    z-index: 2222222;
    text-align: center;
    width: 1000px;
    gap: 20px;
}

.btn-slides button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: all .5s ease-in-out;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn-slides button:hover {
    transform: scale(1.2)
}

.btn-slides button img{
    width: 45px;
    height: 45px;
}

/* RESPONSIVIDADE PROJETO */
@media screen and (max-width: 1150px){
    .container-projetos {width: 90%; padding: 0;}
    .btn-slides{width: 90%;}
    .item:nth-child(2) {left: calc(100% - 230px);}
    .item:nth-child(3) {display: none;}
}

@media screen and (max-width: 850px){
    .content > p {width: 70%;}
    .item .content {padding-left: 0; align-items: center; text-align: center;}
    .item:nth-child(1), .item:nth-child(1) .content {border-radius: 10px; width: 100%;}
    .item:nth-child(2) {display: none;}
    .item:nth-child(4) {display: none;}
    .container-footer {
        flex-direction: column;
    }
}
@media screen and (max-width: 700px){
    .content > h4 {width: fit-content; line-height: 1.5; border-bottom: 2px solid rgb(88, 88, 88);}
    .content > p {width: 90%; padding: 2rem 0;}
    .itens-logos-projetos{padding: .5rem;}
    .btn-links-projetos {gap: 0 1rem;}
    .btn-links-projetos > a {
        padding: 10px;
        width: 130px;
        justify-content: center;
    }
    .btn-slides {
        right: 50%;
        width: initial;
        left: 50%;
        bottom: 20px;        
    }
    .btn-links-projetos > a:hover, .btn-slides button:hover{
        transform: none;
    }
}

@media screen and (max-width: 400px){
    .container-projetos {height: 700px;}
    .item .content {background-color: rgba(0, 0, 0, 0.6);}
    .btn-links-projetos > a {
        width: 40%;

    }
}

/* BLOCO DA TELA INTERNA DE CONTATOS*/
.container-contatos{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: 2rem auto;
    gap: 3rem;
}
.block-links-contato{
    background-color: #111111;
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
    min-width: fit-content;
    padding: 3.5rem;
    border-radius: 10px;
    align-items: center;
    margin: 0 auto 5rem;
}

.block-text-contaos{
    display: flex;
}

.block-text-contaos h4{
    font-size: 2.5rem;
    color: var(--color-emphasis);
    margin-bottom: .5rem;
}

.block-text-contaos p{
    font-size: 1.8rem;
    color: white;
    margin-bottom: 2rem;
   margin: auto 0;
}

.block-links-contato > div{display: flex; gap: 1.5rem; width: 100%; justify-content: center; margin: 1.5rem 0;}

.block-links-contato > div > a img{
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 400px){    
    .block-links-contato {
        width: 90%;
        padding: 0;
        margin: 3rem auto;
    }
    .block-text-contaos{flex-direction: column; text-align: center;}
}

@media screen and (min-width: 950px) {
    /* Estilos da barra de rolagem */
    ::-webkit-scrollbar {background-color: var(--color-secund);}

    ::-webkit-scrollbar-thumb {
        
        background-color: var(--color-emphasis);
    }
}